* {
  margin: 0;
  padding: 0;
}

:root {
  --main-purple: #42253B;
  --second-green: #82D173;
  --third-grey: #95A3B3;
  --green: #ABFAA9;
  --purple: #4C2C69;
}

body {
  background-color: var(--main-purple);
  color: white;
}

#mainContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#header{
    text-align: center;
    margin: 20px;
}

#title {
  font-size: 40px;
}

#titleDescription {
  font-size: 25px;
}
